google-auth
google-auth-oauthlib
graphviz
gspread
PyYAML
requests
st-gsheets-connection @ git+https://github.com/streamlit/gsheets-connection.git@cd9a6ba8eb3033096e8f326f77331e337c15cca7
streamlit
tabulate
beautifulsoup4	
google-api-python-client
gspread
tabulate
mermaid-py